<template>
  <div>
    <TextComponent />
  </div>
</template>

<script>
import TextComponent from "../src/components/Text.vue";

export default {
  name: "App",
  components: {
    TextComponent,
  },
};
</script>
